{% extends "base.html" %}

{% load url from future %}


{% block breadcrumb %}
  <li><a href="{% url "index" %}">Firewall</a></li>
  <li class="active">Overview</li>
{% endblock %}



{% block content %}
        <div class="row">
          <div class="col-lg-12">
    {% for firewall in firewalls %}
          <div class="col-lg-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-tasks fa-5x"></i>
                  </div>
                  <div class="col-xs-5 text-center">
                    <p class="announcement-text">
			<h4>{{ firewall.hostname|lower }}</h4>
 
                        <form class="form" role="form">
			  <select class="form-control input-sm">
			  {% for zone in firewall.zone_set.all|dictsort:"name.lower" %}
			    <option value="{{ zone.name|lower|capfirst }}">{{ zone.name|lower|capfirst }}</option>
			  {% endfor %}
		 	  </select>
			  <br />
 			  <button type="submit" class="btn-xs btn-success">View Addresses </button>
                        </form>
		    </p>
                  </div>
                </div>
              </div>

              <a href="{% url "zoneOverview" firewall.hostname %}">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
			View Zones
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>

              <a href="">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
			View Applications
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>

              <a href="{% url "ruleOverview" firewall.hostname  %}">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
			View Policies
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>


            </div>
          </div>
 {% endfor %}


		</p>
        </div><!-- /.row -->

{% endblock%}
