{% for policy in  policies %}
	<br>name: {{ policy.name }}
	<br>source addresses: 
	{% for address in policy.srcAddress.all %}
		{{ address.name }}
	{% endfor %}
	<br>source addressSets:
	{% for addressSet in policy.srcAddressSet.all %}
		{{ addressSet.name }}
	{% endfor %}
	<br>destination addresses:
	{% for address in policy.dstAddress.all %}
		{{ address.name }}
	{% endfor %}
	<br>destination addressSets:
	{% for addressSet in policy.dstAddressSet.all %}
		{{ addressSet.name }}
	{% endfor %}
	<br>applications: 
	{% for application in policy.application.all %}
		{{ application.name }}
	{% endfor %}
	<br>applicationsets: 
	{% for applicationSet in policy.applicationSet.all %}
		{{ applicationSet.name }}
	{% endfor %}
	<br>
{% endfor %}
