 <form name="viewPolicies" method="post" action"" >
 {% csrf_token %}
 	<table>
 		<tr>
	 		<th>From Zone:</th>
	 		<th>To Zone:</th>
	 	</tr>
	 	<tr>
	 		<td>
	 			<select id="fromZone" name="fromZone">
  				<option  value="" selected="selected">Select Zone</option>
  				{% for zone in zones %}
  					<option value="{{zone.name}}">{{zone.name|capfirst}}</option>
  				{% endfor %}
				</select>
	 		</td>
	 		<td>
	 			<select id="toZone" name="toZone">
  				<option  value="" selected="selected">Select Zone</option>
  				{% for zone in zones %}
  					<option value="{{zone.name}}">{{zone.name|capfirst}}</option>
  				{% endfor %}
				</select>
	 		</td>
	 	</tr>
    </table>
    <input type="Submit" value="Show" />
</form>

{% block rules %}
{% endblock %}